<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejemplo MEAN</title>
	<!-- Cargamos bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Cargamos angular -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- Cargamos el javascript de angular -->
	<script src="core.js"></script>

</head>
<body ng-controller="mainController">
	<div class="container" style="padding-top:20px;">
		<div class="col-sm-8 col-sm-offset-1 text-center">
			<form name="myForm">
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newPersona.nombre" required>
					<br>
					<input type="text" class="form-control input-lg text-center" placeholder="Apellido" ng-model="newPersona.apellido" required>
					<br>
					<input type="text" class="form-control input-lg text-center" placeholder="email" ng-model="newPersona.email" required>
					<br>
					<input type="text" class="form-control input-lg text-center" placeholder="Dirección" ng-model="newPersona.direccion" required>
				</div>

				<!-- Acciones que podemos realizar en el formulario -->
				<button type="submit" class="btn btn-success btn-lg" ng-click="registrarPersona()" ng-disabled="myForm.$invalid || selected">Registrar</button>
				<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.email || !newPersona.direccion || !selected">Modificar</button>
				<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.email || !newPersona.direccion || !selected">Borrar</button>
			</form>
		</div>
		<div class="col-sm-8 col-sm-offset-1" style="padding-top:20px;">
			<table class="table table-striped">
				<tr class="info">
					<td>Nombre</td>
					<td>Apellidos</td>
					<td>Email</td>
					<td>Dirección</td>
				</tr>
				<tr ng-repeat="persona in personas" ng-click="selectPerson(persona)">
					<td>{{ persona.nombre }}</td>
					<td>{{ persona.apellido }}</td>
					<td>{{ persona.email }}</td>	
					<td>{{ persona.direccion }}</td>						
				</tr>
			</table>					
		</div>
	</div>
</body>
</html>
